.button {
  /** Default solid style **/
  background-color: var(--dpg-button-color-background);
  border-color: var(--dpg-button-color-border);
  border-radius: var(--dpg-button-size-border-radius);
  border-style: solid;
  border-width: 2px;
  color: var(--dpg-button-color-text);

  /** Base button styles **/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  padding: var(--dpg-button-size-padding-y) var(--dpg-button-size-padding-x);
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

/** Outline style token overrides **/
.button--outline {
  --dpg-button-color-background: var(--dpg-color-base);
  --dpg-button-color-text: var(--dpg-color-primary);
  --dpg-button-color-border: var(--dpg-color-primary);
}

.button--text {
  --dpg-button-color-background: none;
  --dpg-button-color-text: var(--dpg-color-primary);
  text-decoration: underline;
  padding-left: 0px;
  padding-right: 0px;
}

.button--solid.danger {
  --dpg-button-color-background: var(--dpg-color-danger);
}

.button--outline.danger,
.button--text.danger {
  --dpg-button-color-text: var(--dpg-color-danger);
}

.button--outline.danger {
  --dpg-button-color-border: var(--dpg-color-danger);
}

.button--solid[disabled] {
  --dpg-button-color-background: var(--dpg-color-disabled);
}

.button--outline[disabled],
.button--text[disabled] {
  --dpg-button-color-text: var(--dpg-color-disabled);
}

.button--outline[disabled] {
  --dpg-button-color-border: var(--dpg-color-disabled);
}

.button--solid:hover,
.button--solid:focus,
.button--outline:hover,
.button--outline:focus {
  --dpg-button-color-text: var(--dpg-color-primary);
  --dpg-button-color-background: var(--dpg-color-primary-hover);
  --dpg-button-color-border: var(--dpg-color-primary);
}

.button--text:hover,
.button--text:focus {
  --dpg-button-color-text: var(--dpg-color-blue-5);
}

.button--solid.danger:hover,
.button--solid.danger:focus {
  --dpg-button-color-background: var(--dpg-color-danger-hover);
}

.button--outline.danger:hover,
.button--outline.danger:focus,
.button--text.danger:hover,
.button--text.danger:focus {
  --dpg-button-color-text: var(--dpg-color-danger-hover);
}

.button--outline.danger:hover,
.button--outline.danger:focus {
  --button-bg-color: var(--dpg-color-red-1);
}