@import "https://use.typekit.net/gru0sjs.css";

:root {
  --font-family-primary: 'museo-sans', 'sans-serif';
  --font-family-secondary: 'museo-slab', 'sans-serif';
  --font-size-base: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.5;
}