@import "https://use.typekit.net/gru0sjs.css";

:root {
  --font-family-primary: 'museo-sans', 'sans-serif';
  --font-family-secondary: 'museo-slab', 'sans-serif';
}

body {
  background-color: var(--dpg-color-base);
  color: var(--dpg-color-contrast);
  min-height: 50rem;
}