@import "https://use.typekit.net/gru0sjs.css";

:root {
  --font-family-primary: 'museo-sans', 'sans-serif';
  --font-family-secondary: 'museo-slab', 'sans-serif';
}

body {
  font-family: var(--font-family-primary);
}