@import "tailwindcss" source("./components");
@import "./main.css";
@import "@digitalpromise/icons/dist/dpg-icons.css";

@font-face {
  font-family: "dpg-icons";
  src:
    url("@digitalpromise/icons/dist/dpg-icons.woff2") format("woff2"),
    url("@digitalpromise/icons/dist/dpg-icons.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

:root {
  --font-icon: "dpg-icons";
}

/* The icon CSS uses a class-start selector only. Keep both selectors so icon
   classes still work when additional classes are prepended. */
[class^="dpg-icons-"]::before,
[class*=" dpg-icons-"]::before {
  font-family: var(--font-icon) !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
